
<h1>Adios, {{ title }}</h1>
<p>Que bonitooo 🎉</p>
<li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Index</a></li>
<li><a routerLink="/tabla" routerLinkActive="active" ariaCurrentWhenActive="page">Tabla</a></li>
<li><a routerLink="/formulario" routerLinkActive="active" ariaCurrentWhenActive="page">Formulario</a></li>

<button type="button" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" >Index</button>
<button type="button" routerLink="/tabla" routerLinkActive="active" ariaCurrentWhenActive="page" >Tabla</button>
<!--Esta es la mejor forma-->
<button type="button" (click)="GoToFormulario()">Formulario</button>

<router-outlet/>
